  <h1>
    Random products
  </h1>
  <h3>Displaying <%= @n_number %> random products from <%= @main_category.name %></h3>
  <ul class="products">
    <%= render partial: "product", collection: @randoms %>
  </ul>